
{{ form_start(form) }}
{{ form_row(form._token) }}
<div class='custom-errors'>
{{ form_errors(form)}}
</div>
    <!-- Title -->
     {{ form_row(form.title) }}
  
    <!-- Content -->
    <div class="form-group">
         {{ form_row(form.content) }}
    </div>
  <!-- Tags -->
{{ form_row(form.tags) }}
    <!-- draft -->
    <div class="custom-control custom-checkbox mb-4">
        {{ form_row(form.is_draft, {label_attr: {class: 'switch-custom'} }) }}
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Save</button>

</form>
<!-- Default form contact -->
{{ form_end(form) }}