{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>
    .pagination li { margin: 1em auto; }
    .example-wrapper { margin: 1em auto; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
}

    .view {
        background: url('{{ asset('img/clouds-scattered-over-a-snwowcapped-mountain.jpg') }}') no-repeat center center;
        background-size: cover;
    }
    html,
    body,
    header,
    .view {
        height: 90%;
    }
    
</style>
    <header>
{{ include('welcome/_nav.html.twig') }}

    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <div class="container text-center white-text">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>This Navbar is fixed</h2>
                        <h5>It will always stay visible on the top, even when you scroll down</h5>
                        <br>
                        <p>Full page intro with background image will be always displayed in full screen mode, regardless
                            of device </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
    <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container-lg">

{% for entry in entries %}
    <h1><a href="{{ entry.id }}">{{ entry.title }}</a></h1>
    {% if is_granted('ROLE_ADMIN') %}

        <a href="edit/{{ entry.id }}" class="nav-link"
        <button class="btn btn-primary"><i class="fas fa-magic mr-1"></i> Edit</button>
        </a>
    </li>
{% endif %}
 

{% for tag in entry.tags %}
     <span class="badge badge-light" style="margin-right: 10px;">{{ tag }}</span>
{% endfor %}

    {{ entry.content|markdown }}


   
{% endfor %}


      {% if maxPages > 1 %}
          <ul class="pagination pagination-sm">
              {# `«` arrow  #}
              <li {{ thisPage == 1 ? 'class="disabled"' }}>
                  <a href="{{ path('blog', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
              </li>

              {# Render each page number #}
              {% for i in 1..maxPages %}
                  <li {{ thisPage == i ? 'class="active"' }}>
                      <a href="{{ path('blog', {page: i}) }}">{{ i }}</a>
                  </li>
              {% endfor %}

              {# `»` arrow #}
              <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                  <a href="{{ path('blog', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
              </li>
          </ul>
      {% endif %}
    </div>

  </main>
{% endblock %}

{% block stylesheets %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
{% endblock %}